/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 10:46:00
    Author     : emma.fabre
*/


#carto {
    padding-top: 100px;
    color: black; 
    padding-bottom: 7%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    display:block;
}

#carto h1 {
    font-size : 40px;
    font-weight: bold ;
    text-transform: uppercase;
}

#carto img {
    display: flex;
    justify-content: space-between;
    margin: 10px;   
}

#carto img:nth-child(2) {
    float: left;
    margin-right: 10px;
}

#carto img:last-child {
    margin-top: 10px;
}

#contact {
    color: black;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    display:block;
}

#contact h1 {
    font-size : 40px;
    font-weight: bold ;
    text-transform: uppercase;
}

#contact p {
    text-align: left;
    margin-left: 0px;
    color: black;
    /*color : black;
    margin-bottom : 0px;*/
       
}

#logo {
    
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;    
}

#logo article {
    flex: 1; 
    height: 32px;
    border: transparent thin solid;
    display: flex;
   
}

#logo a{
    color: black;
    font-size:xx-small;
    font-family: 'Helvetica';
}

#gauche:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#milieu:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#droite:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#gauche {
    background: transparent url('../Images/logo-fb.png') no-repeat 0 0; /* Fond */  
 
}

#milieu {
   background: transparent url('../Images/logo-tw.png') no-repeat 0 0; /* Fond */ 
  
}

#droite {
    background: transparent url('../Images/logo-lk.png') no-repeat 0 0; /* Fond */  
 
}