/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 10:46:00
    Author     : emma.fabre
*/


#carto {
    padding-top: 100px;
    color: black; 
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    display:block;
}

#carto h1 {
    text-align: left;
    font-size : 40px;
    font-weight: bold ;
    text-transform: uppercase;
}

#carto img {
    display: flex;
    justify-content: space-between;
    margin: 10px;   
}

#carto img:nth-child(2) {
    float: left;
    margin-right: 10px;
}

#carto img:last-child {
    margin-top: 10px;
}

#contact {
    color: black;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    display:block;
}

#contact h1 {
    text-align: left;
    font-size : 40px;
    font-weight: bold ;
    text-transform: uppercase;
}

#contact p {
    text-align: left;
    margin-left: 0px;
    color: black;
   
       
}

#logo {
    flex-direction: row;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%; 
}

#logo h1 {
    text-align: left;
    font-size : 40px;
    font-weight: bold ;
    text-transform: uppercase;
}

#logo article {

    border-width: 32px;
    justify-content: space-between;
   
}

#logo a{
    flex-direction: row;
}

