/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 10:46:00
    Author     : emma.fabre
*/


#carto {
    padding-top: 100px;
    color: black;
    
}

#carto h1 {
    
    text-align: left;
    line-height: normal;
}

#carto img {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}

#carto img:nth-child(2) {
    float: left;
    margin-right: 10px;
}

#carto img:last-child {
    margin-top: 10px;
}

#contact {
    color: black;
    padding-left: 10px;
}

#contact h1 {
    text-align: left;
    line-height: normal;   
}

#contact p {
    text-align: left;
    margin-right: 10px;
    color: black;
       
}

#logo {
    
    justify-content: space-around; 
    flex-direction : row;
    margin-top: 10px;
}

#logo article {
    flex: 1; 
    height: 32px;
    border: transparent thin solid;
    display: flex;
    
}

#logo a{
    color: black;
    font-size:xx-small;
    font-family: 'Helvetica';
}

#gauche:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#milieu:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#droite:hover {
   border: black thin solid; 
   border-radius: 5px;
   background-color: grey ;
}

#gauche {
    background: transparent url('../Images/logo-fb.png') no-repeat 0 0; /* Fond */  
 
}

#milieu {
   background: transparent url('../Images/logo-tw.png') no-repeat 0 0; /* Fond */ 
  
}

#droite {
    background: transparent url('../Images/logo-lk.png') no-repeat 0 0; /* Fond */  
 
}