* {
    font-family: 'Helvetica'; /* Police par défaut */
    box-sizing: border-box; /* Les tailles de conteneurs incluent bordures et 
                               remplissages */
    margin: 0; /* Mise à 0 des marges externes */
    padding: 0; /* Mise à 0 des marges internes */
    text-decoration: none; /* Suppression de la mise en forme habituelle des liens 
                             (soulignement) */
}

/* Définition de la police "Montserrat" */
@font-face{ 
    font-family: "Helvetica";
    src: url('polices/Helvetica.ttf.ttf') format("truetype");
}

body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
    background-color: gray;
}

header {
    width: 100%; /* Les headers et sections remplissent la page horizontalement */
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center;
}

#nav_bar {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* Les éléments sont empilés */
    justify-content: center;
    background-color: white;
}

#nav_bar .nav_link_logo {
    width: 20%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nav_bar .header_logo {
    max-width: 158px;
    height: auto;
    margin: 0;
    font-size: 0;
    display: flex;
    align-items: center;
    background: 0 0;
}

nav {
    width: 50%;
}

nav ul {
    width: 100%;
    float: right;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    min-height: 75px;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: #404040;
    text-align: center;
    padding: 16px 18px;
    margin-top: 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color:lightgray; /* Couleur du fond au passage de la souris */
}
